@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
                
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    max-width: 100%;
}

/* Shared Styles */

.img-container-title{
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}
.img-container-description{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.area-title{
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 255, 255);
    line-height: 120%;
}
.area-description{
    font-weight: 900;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
}
/* shared styles End */

/* Header Section Styles start here */
.header-container{
    max-width: 100%;
    background: linear-gradient(220.00deg, rgb(56, 48, 53), rgba(87, 83, 83, 0)100%);
}
.header-container-content{ 
    width: 1060px;
    margin: 0 auto;
}
.nav-area{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 46px;
    padding-top: 57px;
}
.logo-text{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;   
}
.menu ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 47px;
    border:1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 5px;
    list-style-type: none;
   
}
.menu ul a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400px;
}
.home{
    width: 92px;
    height:38px;
    padding: 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    text-align: center;
}
.hamburger{
    display: none;
}
.banner-area{
    /* height: 750px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    position: relative;
}
.banner-text-area .shape{
    font-family: miama;
}
.banner-text-area{
    width: 530px;
    /* height: 440px; */
}

.banner-text-area h1{
    width: 530px;
    height: 282px;
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    line-height: 100%;

}
.banner-text-area p{
    width: 520px;
    height: 48px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.banner-button{
    width: 462px;
    height: 54px;
    margin-top: 20px;
}
.jc-btn{
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px 40px;
    margin-right: 14px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}
.da-btn{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px;
    margin-left: 14px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    stroke: Inside
    rgb(255, 255, 255);
}
.banner-image-area{
    width: 349px;
    position: relative;
    
}
.banner-image-area img{
    vh: 100%;
    vw: 100%;
    object-fit: cover;
    position: relative;
    
}
.box-1{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    border-radius: 12px;
    position: absolute;
    top: 420px;
    left: -120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box-1 > .round {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}
.box-1 > .box-1-content{
    width: 108px;
    height: 56px;
}
.box-1-content > .tit{
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    column-rule: rgb(250, 250, 249);
    margin-bottom: 5px;
}
.box-1-content > .des{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}
.fa-solid {
    display: none;
    padding-top: 10px;
    padding-left: 14px;
    font-size: 20px;
    
}
.box-2{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 193px;
    height: 96px;
    border-radius: 12px;
    position: absolute;
    top: 130px;
    right: -80px;
    padding-top: 20px;
    padding-left: 20px;
}
.box-2 .tit{
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    column-rule: rgb(250, 250, 249);
    margin-bottom: 5px;
}
.box-2 .des{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}
/* Header styles section End */

/* habit area styles start here*/
.habit-area{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.habit-title{
    font-weight: 900;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.habit-description{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.content-area{
    margin-top: 40px;
}
.img-container{
    margin-bottom: 25px;
}
.img-container img{
    margin-bottom: 10px;
    border-radius: 50%;
}
.content-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* Habit area styles section End */

/* Run Area Start */
.run-area{
    width: 80%;
    border: 1px;
    border-radius: 8px;
    background-color: rgb(34, 34, 34);
    margin: 20px auto 10px;
}
.run-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.run-text-area{
    width: 50%;
    margin-left: 20px;
}
.run-text-area .area-title{
    margin-bottom: 10px;
    text-align: left;
}
.join-now{
    width: 224px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
}
.run-img-area img{
    width: 366px;
    height: 312px;
    object-fit: cover;
    object-position: 66% 20%;
    border-radius: 18px;
}
/* Run Area Styles End */


/* excercise area styles start here */
.excercise-area{
    margin-top: 40px;
    margin-bottom: 30px;
}
.excercise-area-content{
    width: 80%;
    margin: 0 auto;
}
.excercise-area-content h3{
    text-align: left;
}
.excercise-img-area img{
    width: 100%;
    height: 100%;
}
.excercise-img-area{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* Excercise are styles End */


/* BMI Calculator Area */
.bmi-calculator{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}
.bmi-main{
    width: 100%;
    margin-top: 30px;
    background-color: rgb(34, 34, 34);
    margin-top: 30px;
}
.chart-title{
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
table{
    border-collapse: collapse;
    border-color: rgba(255, 255, 255, 0.1);
}
table tr,th,td{
    padding: 20px;
}
table th{
    text-align: left;
}
table td{
    color: rgba(255, 255, 255, 0.5);
}
.bmi-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.calculator-title{
    font-weight: 900;
    font-size: 28px;
    line-height: 120%;
    text-align: left;
    color: rgb(255, 255, 255);
}
.calculator-description{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}
.input-area{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.input input{
    width: 100%;
    background-color: #393939;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
}
.input select{
    width: 100%;
    background-color: #393939;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
}
#special-2{
    grid-column: span 2;
}
select{
    color: rgba(255, 255, 255, 0.6);
    Font: Inter;
    Font-weight: 400;
    Font-size: 16px;
    background-color: #393939;
}
.input-area ::placeholder{
    color: rgba(255, 255, 255, 0.6);
    Font: Inter;
    Font-weight: 400;
    Font-size: 16px;
    background-color: #393939;
}
.calculate{
    border-radius: 42px;
    padding: 16px 40px;
    margin-top: 30px;
    background-color: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    width: 224px;
}
/* BMI Calculator Area End */

/* Our Team area start here */
.our-team-area{
    text-align: center;
}
.our-team-content img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.our-team-container{
    margin-top: 40px;
    margin-bottom: 40px;
}
.our-team-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #1a1a1a;
    padding: 20px;
    width: 80%;
    margin: 0 auto;   
}
.member-1, .member-2, .member-3, .member-4, .member-5, .member-6 {
    position: relative
}
.designation{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    text-align: left;
}
.designation p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
}
/* Our Team area End */

/* Contact us section styles start */
.contact-form{
    margin-bottom: 40px;
}
.form{
    width: 80%;
    margin: 0 auto;
    background-color: #1a1a1a;
    padding: 50px;
    border-radius: 20px;
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
form button{
    grid-column: span 2;
    background-color: #393939;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
    width: 30%;
    margin: 0 auto;
    color: white;
    font-weight: 600;
}
.box input{
    width: 100%;
    background-color: #393939;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
}
.form h2{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 900;
    font-family: Inter;
    font-size: 40px;
}
/* Contact us section styles End */

/* Footer area start */
footer{
    background-color: #1a1a1a;
}
.footer-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 40px;
}
.first-col h1{
    font-weight: 800;
    font-size: 70px;
    line-height: 120%;
    color: rgb(230, 83, 60);
    font-style: italic;
}
.first-col p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.3px;
}
.col-menu h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: rgb(255, 255, 255);
}
.col-menu ul{
    list-style-type: none;
}
.col-menu li{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.second-col{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
}
h3{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px; 
    text-align: center;
}
/* Footer area section styles End */
